.Chat {
    position: absolute;
    width: 70%;
    height: calc(90% - 50px);
    overflow-y: auto;
    right: 0;
    bottom: 50px;
}

.Send {
    right: 1%;
    background-color: rgb(130, 202, 226) !important;
    color: white !important;
    border: 1px solid purple !important;
}

.Send:disabled {
    display: none !important;
}

.BackIcon {
    display: none !important;
}

.Messages {
    margin-top: 1%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.MsgInput {
    position: fixed;
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 70%;
    height: 50px;
    align-items: center;
    bottom: 0;
}

.Emoji {
    position: fixed;
    width: 70%;
    bottom: 50px;
    right: 0;
}

.MsgInput input {
    border: none;
    outline: none;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    font-size: large;
}

.BackIcon {
    display: flex !important;
    z-index: 100;
}

.TopMenu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    width: 70%;
    height: 10%;
    right: 0;
    background-color: rgb(0, 189, 223);
}

.TopMenu p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: x-large;
    margin-top: auto;
    margin-bottom: auto;
}

.BackIconInside {
    margin-right: -10px;
}

@media (max-width: 900px) {
    .Chat {
        width: 100%;
    }

    .Hidden {
        display: none;
    }

    .MsgInput {
        width: 100%;
    }

    .TopMenu {
        width: 100%;
    }

    .Emoji {
        width: 100%;
    }

    .TopMenu p {
        width: 105%;
        font-size: x-large;
    }
}