.ChatBar {
    padding-bottom: 2px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    margin-top: -2%;
}

.ChatBar:hover {
    background-color: #ededed;
}

.ChatInfo {
    margin: 10px auto 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ChatInfo p {
    margin-right: 30px;
}

.ChatInfo div {
    display: flex;
    align-items: center;
}

.ChatInfo div h4 {
    margin-left: 20px;
}

.ChatPreview {
    margin: -20px auto 20px 80px;
}